<ion-header [translucent]="true">
  <ion-toolbar>
 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="galaxy-button">
      <button class="space-button" id="open-custom-dialog">
        <span class="backdrop"></span>
        <span class="galaxy"></span>
        <label class="text">Empezar</label> 
      </button> 
      <div class="bodydrop"></div> 
    </div>
    
    <ion-modal id="example-modal" #modal trigger="open-custom-dialog" 
               (ionWillPresent)="onWillPresent()" 
               (ionWillDismiss)="onWillDismiss()">
      <ng-template>
        <form class="form" [formGroup]="formsReg" (ngSubmit)="Registro()">
          <div class="form-title"><span>Inicio de Sesion</span></div>
          <div class="title-2"><span>YEAH!</span></div>
          
          <div class="input-container">
            <input formControlName="email" class="input-mail" type="email" placeholder="Enter email">
            <span> </span>
          </div>
        
          <section class="bg-stars">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
          </section>
        
          <div class="input-container">
            <input formControlName="password" class="input-pwd" type="password" placeholder="Enter password">
          </div>
          
          <button type="submit" class="submit">
            <span class="sign-text">Inicia Sesion</span>
          </button>
        
          <p class="signup-link">
            No tienes cuenta ?
            <a href="" class="up">Registrate!</a>
          </p>
        </form>
      </ng-template> 
    </ion-modal>
  </ion-content>
</ion-content>
